<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalandroid">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".loga"
            android:exported="false" />
        <activity
            android:name=".loga2"
            android:exported="false" />
        <activity
            android:name=".loga3"
            android:exported="false" />
        <activity
            android:name=".logb"
            android:exported="false" />
        <activity
            android:name=".logb2"
            android:exported="false" />
        <activity
            android:name=".logb3"
            android:exported="false" />
        <activity
            android:name=".logc"
            android:exported="false" />
        <activity
            android:name=".logd"
            android:exported="false" />
        <activity
            android:name=".question1"
            android:exported="false" />
        <activity
            android:name=".question2"
            android:exported="false" />
        <activity
            android:name=".question3"
            android:exported="false" />
        <activity
            android:name=".Stats"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"/>
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>